@import 'src/styles';

footer {
    background-color: $yellow;
    padding: 40px 0;

    .footer {
        .footer-img {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        .footer-list {
            display: flex;
            flex-direction: row;
            align-items: center;
            @media (max-width: 990px) {
                flex-direction: column;
                margin-top: 60px;
            }
            &__content {
                margin-right: 60px;
                position: relative;
                @media (max-width: 990px) {
                    margin-bottom: 20px;
                }

                &:nth-child(1) {
                    &::after {
                        position: absolute;
                        content: '';
                        width: 2px;
                        height: 100%;
                        background-color: $white;
                        top: 0;
                        right: -30px;
                        @media (max-width: 990px) {
                            display: none;
                        }
                    }
                }

                &:nth-child(2) {
                    &::after {
                        position: absolute;
                        content: '';
                        width: 6px;
                        height: 6px;
                        background-color: $white;
                        border-radius: 100%;
                        top: 50%;
                        right:-30px;
                        transform: translateY(-50%);
                        @media (max-width: 990px) {
                            display: none;
                        }
                    }
                }

                &:last-child {
                    margin-right: 0;
                    @media (max-width: 990px) {
                        margin-bottom: 0;
                    }
                }

                a { 
                    color: $white;
                    cursor: pointer;
                    font-family: $azo-r;
                    font-size: 21px;
                }
            }
        }

    }
}