$theme-colors: (
    "primary":   #E03C31,
    "secondary": #F77D0C
);

$azo-r:  'AzoSans-Regular';
$azo-b:  'AzoSans-Bold';
$azo-bl: 'AzoSans-Black';

$nexa-l: 'NexaLight';
$nexa-b: 'NexaBold';

$bebas: 'BebasNeueRegular';

$primary:   #E03C31;
$secondary: #F77D0C;
$purple:    #6F00A5;

$gray4: #BFBFBF;
$gray3: #606060;
$gray2: #707070;
$gray1: #EBEBEB;

$black: #000;
$white: #FFF;