@font-face {
	font-family: 'AzoSans-Regular';
	src: url('../../fonts/AzoSans/AzoSans-Regular.eot');
	src: local('☺'), url('../../fonts/AzoSans/AzoSans-Regular.woff') format('woff'), 
    url('../../fonts/AzoSans/AzoSans-Regular.ttf') format('truetype'), 
    url('../../fonts/AzoSans/AzoSans-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'AzoSans-Bold';
	src: url('../../fonts/AzoSans/AzoSans-Bold.eot');
	src: local('☺'), url('../../fonts/AzoSans/AzoSans-Bold.woff') format('woff'), 
    url('../../fonts/AzoSans/AzoSans-Bold.ttf') format('truetype'), 
    url('../../fonts/AzoSans/AzoSans-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'AzoSans-Black';
	src: url('../../fonts/AzoSans/AzoSans-Black.eot');
	src: local('☺'), url('../../fonts/AzoSans/AzoSans-Black.woff') format('woff'), 
    url('../../fonts/AzoSans/AzoSans-Black.ttf') format('truetype'), 
    url('../../fonts/AzoSans/AzoSans-Black.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'BebasNeueRegular';
	src: url('../../fonts/Bebas/BebasNeueRegular.eot');
	src: local('☺'), url('../../fonts/Bebas/BebasNeueRegular.woff') format('woff'), 
    url('../../fonts/Bebas/BebasNeueRegular.ttf') format('truetype'), 
    url('../../fonts/Bebas/BebasNeueRegular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}