<header>
	<nav class="navbar navbar-transparent fixed-top bg-transparent">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">
				<img src="../assets/img/logo/logo.svg" alt="">
			</a>
		</div>
	</nav>
</header>

<section id="hero">
	<div class="hero">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-6">
					hola
				</div>
				<div class="col-lg-6">
					hola
				</div>
			</div>
		</div>
	</div>
	<!-- backgrounds -->
	<div class="background-1"></div>
	<div class="background-2"></div>
</section>

<section id="secure">
	<div class="secure">
		<div class="container-fluid">
			<div class="row">
				<div class="col-12">
					<h2 class="secure-title">
						SEGURO OBLIDATORIO DE SALUD AL
						<span>
							COVID-19
						</span>
					</h2>
					<div class="row">
						<div class="col-md-6 offset-md-3">
							<p class="secure-subtitle">
								Con Vida Cámara tendrás protección frente a gastos de hospitalización y rehabilitación a causa de COVID-19 y apoyaremos a tu familia en caso de tu fallecimiento. Además accede a nuestro múltiples beneficios.
							</p>
						</div>
					</div>
				</div>
				<div class="col-12">
					<div class="secure-content">
						<div class="secure-content__img">
							<img src="assets/img/global/g-medic.svg" alt="">
						</div>
						<div class="secure-content__description">
							<h4 class="title">
								COBERTURA
							</h4>
							<ul class="list">
								<li>
									<p>
										100%* del gasto a pagar por atenciones hospitalarias derivadas del COVID19; en modalidad institucional (Fonasa) o en tu red CAEC (Isapre).
									</p>
								</li>
								<li>
									<p>
										100%* del gasto a pagar por atenciones hospitalarias derivadas del COVID19; en modalidad institucional (Fonasa) o en tu red CAEC (Isapre).
									</p>
								</li>
								<li>
									<p>
										100%* del gasto a pagar por atenciones hospitalarias derivadas del COVID19; en modalidad institucional (Fonasa) o en tu red CAEC (Isapre).
									</p>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="background-4"></div>
</section>

<section id="information">
	<div class="information">
		<div class="container-fluid">
			<div class="row">
				<div class="col-12">
					<div class="accordion" id="accordionExample">
						<div class="card">
							<div class="card-header" id="headingOne">
								<h2 class="mb-0">
									<button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
										¿A quiénes cubre el seguro?
									</button>
								</h2>
							</div>
					  
							<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
								<div class="card-body">
									<p>
										Todos los trabajadores del sector privado con contratos sujetos al Código del Trabajo y que estén desarrollando sus labores de manera presencial, total o parcial; ya sea que estén afiliados a Fonasa o Isapres.  
	
										Se excluyen aquellos trabajadores que hayan pactado el cumplimiento de su jornada bajo las modalidades de trabajo a distancia o teletrabajo de manera exclusiva.
									</p>
								</div>
							</div>
						</div>

						<div class="card">
							<div class="card-header" id="headingTwo">
								<h2 class="mb-0">
									<button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
										¿Quiénes son los beneficiarios en caso de muerte?
									</button>
								</h2>
							</div>
							
							<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
								<div class="card-body">
									<ul class="benefit">
										<li class="benefit-content">
											<div class="benefit-content__img">
												<img src="assets/img/icons/ic_conyuge.svg" alt="">
											</div> 
											<p class="benefit-content__text">
												Conyuge
											</p>
										</li>
										<li class="benefit-content">
											<div class="benefit-content__img">
												<img src="assets/img/icons/ic_teen.svg" alt="">
											</div> 
											<p class="benefit-content__text">
												Los hijos menores de edad 
											</p>
										</li>
										<li class="benefit-content">
											<div class="benefit-content__img">
												<img src="assets/img/icons/ic_adult.svg" alt="">
											</div> 
											<p class="benefit-content__text">
												Los hijos mayores de edad
											</p>
										</li>
										<li class="benefit-content">
											<div class="benefit-content__img">
												<img src="assets/img/icons/ic_parents.svg" alt="">
											</div> 
											<p class="benefit-content__text">
												Padres
											</p>
										</li>
										<li class="benefit-content">
											<div class="benefit-content__img">
												<img src="assets/img/icons/ic_document.svg" alt="">
											</div> 
											<p class="benefit-content__text">
												En caso de no existir las personas antes indicadas, se hace beneficiario del seguro a quien pueda acreditar su calidad de heredero
											</p>
										</li>
									</ul>
								</div>
							</div>
						</div>

						<div class="card">
							<div class="card-header" id="headingThree">
								<h2 class="mb-0">
									<button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseTwo">
										¿Qué exclusiones tiene este seguro?
									</button>
								</h2>
							</div>

							<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
								<div class="card-body">
									<ul>
										<li>
											Gastos de hospitalización o el fallecimiento asociados a enfermedades distintas al COVID-19.
										</li>
										<li>
											Gastos de hospitalización o el fallecimiento asociados o derivados de lesiones sufridas en un accidente, de cualquier naturaleza o tipo, incluso si la víctima tiene COVID-19. 
										</li>
										<li>
											En el caso de personas aseguradas afiliadas al Fondo Nacional de Salud, los gastos incurridos en prestadores que no pertenezcan a la Red Asistencial del artículo 17 del decreto con fuerza de ley N°1, promulgado el año 2005 y publicado el 24 de abril de 2006, del Ministerio de Salud, o bien fuera de la Modalidad de Atención Institucional.
										</li>
										<li>
											En el caso de personas aseguradas afiliadas a una Institución de Salud Previsional, los gastos incurridos en prestadores que no pertenezcan a la red de prestadores de salud individuales e institucionales que cada Institución pone a disposición de sus afiliados, con el propósito de otorgarles la CAEC.
										</li>
										<li>
											Sin perjuicio de lo anterior, el seguro deberá financiar una suma equivalente al monto del deducible que le hubiere correspondido pagar si el beneficiario se hubiese atendido en la red de prestadores respectiva para gozar de la CAEC, el cual en ningún caso será superior al equivalente a 126 unidades de fomento. 
										</li>
									</ul>
								</div>
							</div>
						</div>

						<div class="card">
							<div class="card-header" id="headingThree">
								<h2 class="mb-0">
									<button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseTwo">
										¿Este seguro tiene deducible o carencias?
									</button>
								</h2>
							</div>

							<div id="collapseFour" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
								<div class="card-body">
									<p>
										Según la ley este seguro no posee deducibles ni carencias de ninguna especie. 
									</p>
									<p>
										¿Cómo activo la cobertura del seguro? 
									</p>
									<ul>
										<li>
											Se podrá hacer uso de este seguro con un plazo de un año contado a partir de la muerte de la víctima o, en su caso, desde la fecha de emisión de la liquidación final del copago o del monto del deducible de la CAEC cuyo reembolso se requiera, independiente de la fecha de la prestación que lo origina.
										</li>
										<li>
											Para asegurados FONASA e Isapre, será esta institución quien en representación de los asegurados podrá perseguir el pago de la indemnización que corresponda.
										</li>
										<li>
											La compañía aseguradora tendrá un plazo de 10 días hábiles desde la solicitud para pagarla o rechazarla en forma fundada. 
										</li>
									</ul>
								</div>
							</div>
						</div>

						<div class="card">
							<div class="card-header" id="headingThree">
								<h2 class="mb-0">
									<button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseTwo">
										¿Qué pasa si tengo un seguro de salud complementario individual o colectivo? 
									</button>
								</h2>
							</div>
							<div id="collapseFive" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
								<div class="card-body">
									<ul>
										<li>
											En su cobertura de salud, el Seguro Obligatorio de Salud asociado a COVID-19 se aplicara con preferencia (antes) a cualquier contrato de seguro de salud en el cual el trabajador sea asegurado.  
										</li>
									</ul>
								</div>
							</div>
						</div>

						<div class="card">
							<div class="card-header" id="headingThree">
								<h2 class="mb-0">
									<button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseTwo">
										¿Cubre este seguro a extranjeros sin residencia Chilena?
									</button>
								</h2>
							</div>
							<div id="collapseFive" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
								<div class="card-body">
									<ul>
										<li>
											Los extranjeros sin residencia chilena  sólo podrán entrar al país con un seguro médico de viaje vigente que cubra gastos de asistencia médica de urgencias o atenciones hospitalarias de urgencia durante toda su estancia en el país. También debe incluir su repatriación por motivos médicos o defunción. Este seguro, debe incluir COVID.19.
										</li>
										<li>
											La cobertura mínima de este seguro debe ser de USD$ 35.000. 
										</li>
										<li>
											Un extranjero sin rut no puede contratar este seguro.
										</li>
									</ul>
								</div>
							</div>
						</div>

						<div class="card">
							<div class="card-header" id="headingThree">
								<h2 class="mb-0">
									<button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseTwo">
										¿Cuánto tiempo tiene el empleador para contratar este seguro?
									</button>
								</h2>
							</div>
							<div id="collapseFive" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
								<div class="card-body">
									<ul>
										<li>
											El empleador tiene un plazo de 30 días corridos  para la contratación de este seguro a su nomina de trabajadores, a contar desde que la respectiva póliza sea depositada en la CMF.
										</li>
										<li>
											Para nuevas contrataciones, el empleador tendrá un plazo de diez días corridos desde el inicio de las labores del trabajador.
										</li>
									</ul>
								</div>
							</div>
						</div>

						<div class="card">
							<div class="card-header" id="headingThree">
								<h2 class="mb-0">
									<button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseTwo">
										¿Debo contratar este seguro a mi trabajadora del hogar, jardinero, chofer u otra persona que trabaje en mi casa particular?
									</button>
								</h2>
							</div>
							<div id="collapseFive" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
								<div class="card-body">
									<ul>
										<li>
											Siempre que tus trabajadores tengan un contrato sujetos al Código del Trabajo y que estén desarrollando sus labores de manera presencial, total o parcial, conforme lo señalado en el artículo siguiente.
										</li>
									</ul>
								</div>
							</div>
						</div>

					</div>
					<div class="d-flex justify-content-center">
						<a class="btn btn-primary btn-main">
							más información
						</a>
					</div>
					<div class="row">
						<div class="col-md-10 offset-md-1">
							<div class="information-footer">
								<p>
									El riesgo es cubierto por Compañía de Seguros de Vida Cámara S.A. según las condiciones generales incorporadas al Depósito de Pólizas de La Comisión para el Mercado Financiero bajo el código POL xxx. La presente información sólo representa un resumen de las coberturas, el detalle de éstas, sus exclusiones y demás condiciones aplicables se encuentra en las pólizas ante mencionadas. En caso de consultas, podrá llamar al centro de atención al Asegurado de Compañía de Seguros de Vida Cámara, al teléfono 600 3200 700, opción 2, donde un ejecutivo especializado lo atenderá de Lunes a Jueves de 09.00 a 18.30 y Viernes de 09.00 a 14.00, excepto festivos.
									* Valor del seguro anual por persona IVA incluido de 0,412UF, precio calculado a $29.077, 84 del día 23-12-2020
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>